* {
    box-sizing: border-box;
}

body {
    background: url(./image/FAR\ PENDU\ copie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
    /**espace entre les lettres**/
    height: 80vh;
    margin: 0;
    overflow: hidden;

}


.wanted {
    margin-left: 5vw;
    margin-top: 10vw;
    width: 30vw;
    height: 30vw;
    background: url(./image/wanted.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}

.mot {
    margin-left: 6vw;
    padding-top: 12vw;
}

.lettre {
    text-align: center;
    display: inline-flex;
    border-bottom: 2px solid white;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    height: 50px;
    width: 20px;


}

.mauvaiselettre {
    width: 20vw;
    height: 9vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(90, 55, 18, 0.745);
    border-radius: 20px 20px;
    color: rgb(203, 185, 173);
    margin-top: 25vw;
    margin-left: 7vh;
    text-align: center;
    position: absolute;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.alphabet {
    width: 60vw;
    margin-left: 0;
    text-align: center;
    margin-top: 2vw;
}

.potence {
    background: url(./image/potence.jpg\ copie.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80vw;
    height: 40vw;
    margin-top: 5vw;
    padding-bottom: 3vw;
    margin-left: 35vw;
    position: absolute;
    display: flex;
}

.corps {
    width: 80vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
}

.tete {
    width: 9vw;
    background: url(./image/tete2.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30vw;
    margin-top: 6.5vw;
    height: 9vw;
    display: none;
}
.hautcorps {
    display: flex;
}


.tron {
    width: 9vw;
    background: url(./image/tron.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 12vh;
    margin-left: 31.5vw;
    position: relative;
    top: -0.4vw;
    display: none;

}

.brasgauche {
    background: url(./image/brasgauche.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vh;
    position: relative;
    left: -20.6vw;
    top: 0.5vw;
    display: none;
}

.brasdroit {
    background: url(./image/brasdroit.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vh;
    position: relative;
    left: -5.8vw;
    top: -2.5vw;
    display: none;

}

.jambes {
    display: flex;
}

.jambedroite {
    background-image: url(./image/jambedroite.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 26vw;
    height: 26vh;
    margin-left: 33vw;
    position: relative;
    top: -20px;
    display: none;

}

.jambegauche {
    background: url(image/jambegauche.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25vw;
    height: 25vh;
    margin-left: -33.3vw;
    top: -0.6vw;
    display: none;

    position: relative;

}

.popupContenant {
    background-color: rgba(165, 42, 42, 0.462);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    padding: 4vh;
    text-align: center;
    background-color: brown;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.6);
}

.sac{
    
    display: none;
    transform: rotate(90deg);
    margin-top: 20em;
}

.button {
    margin-top: 2vh;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: 0;
    font-size: large;
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.6);

}

.button:active {
    transform: scale(0.98);
}

.button:focus {
    outline: 0
}

.notification-contenant {
    background-color: rgba(99, 58, 21, 0.796);
    color: aliceblue;
    border-radius: 7px 7px 0 0;
    padding: 15px 20px;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 40%;
    font-style: italic;
    text-align: center;
    padding-top: 1vh;
    bottom: -75px;
    transition: transform 0.3 ease-in-out;

}

.notification-contenant.afficher {
    transform: translateY(-75px);

}

.hidden {
    display: none;
}

.flex {
    display: flex;
}
